body{
  background-color: black;
  color: #ebe0ce;
}
table{
  width: 100%;
  text-transform:capitalize;
}
td{
  font-size: 4vw;
}
td:nth-child(2) { 
  width:10%;
  border-left-width: 0;
 }
 td:nth-child(1) { 
  padding-left: 10px;
  border-right-width: 0;
  width:17%;
 }
td:nth-child(3) {  
  width: 73%;
  text-align: center;
  
}
table, td{
  border: 1px solid #FFFAF0;
  border-collapse: collapse;
}
#clock{
  font-size: 32vw;
}
